<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header}"><title>Welcome</title></head>

<body id="page-top">
<div th:include="~{commons/fragments.html :: navbar}" id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation}"></nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-4">Oil Change</h3>
                <div class="row mb-3">
                    <div class="col-lg-8 mx-auto">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                                            last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                                            last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Vehicle Specification</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">Make and model</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">Fuel type</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">Displacement</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">VIN</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">Oil capacity</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center">Filter number</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Date and Mileage</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"
                                                                             for="changeDate"><strong>Date</strong></label><input
                                                            class="form-control" type="date" name="changeDate"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="oilChangeInterval"><strong>Mileage</strong></label><input
                                                            class="form-control" type="number" name="oilChangeInterval"
                                                            placeholder="156000"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="oilChangeInterval"><strong>Interval</strong></label><input
                                                            class="form-control" type="number" name="oilChangeInterval"
                                                            placeholder="10000"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"
                                                                             for="cost"><strong>Cost</strong></label><input
                                                            class="form-control" type="number" name="cost" value="50"
                                                            step="0.50" placeholder="50"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" type="submit">Add oil change
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2025</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>