<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header}"><title>Welcome</title></head>

<body id="page-top">
<div th:include="~{commons/fragments.html :: navbar}" id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation}"></nav>
                <div class="container-fluid">
                    <h3 class="text-center text-dark mb-4">My cars</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>VIN</th>
                                    <th>SPENT</th>
                                    <th style="width: 300px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Audi</td>
                                    <td>A4</td>
                                    <td>WAUZZZ8H8420340</td>
                                    <td>12000</td>
                                    <td class="d-flex justify-content-evenly" style="width: 300px;"><button class="btn btn-primary" type="button" style="width: 100px;">Edit</button><button class="btn btn-primary bg-danger border-danger" type="button" style="width: 100px;">Delete</button></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2025</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>