<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header(title=${user.username()})}">
    <title>Profile</title></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/fragments.html :: sidebar}"></nav>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation(userId=${userId})}"></nav>
            <div class="container-fluid">
                <div th:if="${message}" class="text-center alert alert-success alert-dismissible fade show">
                    <strong>Success!</strong> <span th:text="${message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                <h3 class="text-center text-dark mb-4">Profile</h3>
                <div class="row">
                    <div class="col-12">
                        <div th:object="${user}" class="card shadow mb-3">
                            <div class="card-header py-3"></div>
                            <div class="card-body text-center shadow">
                                <img class="rounded-circle mb-3 mt-4"
                                     alt="profile picture"
                                     th:src="*{profilePictureUrl}"
                                     width="160" height="160"></div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <p th:text="*{username}">Username</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p th:text="*{email}">Email</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <p th:text="*{registrationDate}">Registered on</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a th:href="@{/profile/edit}"
                                       class="btn btn-primary btn-sm" role="button">
                                        Edit Profile
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{common/fragments.html :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>