<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header}"><title>Welcome</title></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/fragments.html :: sidebar}"></nav>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation(userId=${userId})}"></nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4 col-xxl-10 d-xxl-flex flex-grow-1 justify-content-xxl-center align-items-xxl-start">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow">
                                <img class="rounded-circle mb-3 mt-4"
                                     alt="profile picture"
                                     th:src="${profilePicture}" width="160" height="160"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">User Settings</p>
                            </div>
                            <div class="card-body">
                                <form th:object="${userEdit}" th:method="put"
                                      th:action="@{/profile/{id}/edit(id=${userId})}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="username" th:if="${#fields.hasErrors('username')}" class="form-label text-danger">
                                                    <strong th:errors="*{username}"></strong>
                                                </label>
                                                <label for="username" th:unless="${#fields.hasErrors('username')}" class="form-label">
                                                    Username<strong>Username</strong>
                                                </label>
                                                <input class="form-control" type="text" id="username"
                                                       th:field="*{username}" name="username">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label for="email" th:if="${#fields.hasErrors('email')}" class="form-label text-danger">
                                                <strong th:errors="*{email}"></strong>
                                            </label>
                                                <label for="username" th:unless="${#fields.hasErrors('email')}" class="form-label">
                                                    <strong>Email</strong>
                                                </label><input class="form-control" type="email"
                                                                               id="email" th:field="*{email}"
                                                                               name="email"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="profilePictureURL"><strong>Profile
                                                Picture</strong></label><input class="form-control" type="text"
                                                                               id="profilePictureURL"
                                                                               th:field="*{profilePictureUrl}"
                                                                               name="profilePictureURL"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{common/fragments.html :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>