<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header(title=${carInfo.makeAndModel()})}">
    <title th:text="${carInfo.makeAndModel()}">Vehicle Information</title>
</head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/fragments.html :: sidebar}"></nav>
    <div class="d-flex flex-column justify-content-between" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation(userId=${userId})}"></nav>
            <div th:if="${message}" class="text-center alert alert-success alert-dismissible fade show">
                <strong>Success!</strong> <span th:text="${message}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <div th:object="${carInfo}" class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 mb-4">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Vehicle Information</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{makeAndModel()}"></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong
                                                    th:text="*{engine().fuelType()}"></strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong
                                                    th:text="*{engine().displacement() + 'cc'}"></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{vin()}"></strong></p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{registration()}"></strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col">
                                        <div class="mb-3">
                                                <strong class="text-danger" th:errors="${engineMileageAdd}"></strong>
                                            <form th:action="@{/vehicles/{id}/add-mileage(id=${carInfo.id()})}"
                                                  th:object="${engineMileageAdd}" th:method="put">
                                                <label for="newMileage"><strong>Mileage</strong></label>
                                                <input id="newMileage" name="newMileage" type="text"
                                                       th:value="*{newMileage}"/>
                                                <label hidden="" for="oldMileage"><strong>Mileage</strong></label>
                                                <input hidden="" id="oldMileage" name="oldMileage" type="text"
                                                       th:value="*{oldMileage}"/>
                                                <button type="submit"
                                                        class="btn btn-primary">
                                                    Change
                                                    mileage
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0">Service state</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small fw-bold">Engine oil life<span class="float-end"
                                                                               th:text="*{engine().changeInterval() + 'km'}"></span>
                                </h4>
                                <div class="progress mb-4">
                                    <div th:if="*{engine().engineOilLifePercent() < 90}"
                                         class="progress-bar bg-success"
                                         th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                    </div>
                                    <div th:if="*{engine().engineOilLifePercent() >= 90 && engine().engineOilLifePercent()  < 100}"
                                         class="progress-bar bg-warning"
                                         th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                    </div>
                                    <div th:if="*{engine().engineOilLifePercent() >= 100}"
                                         class="progress-bar bg-danger"
                                         th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0">History</h6>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Last oil change</strong></h6>
                                            <span class="text-xs"
                                                  th:text="*{lastServices().oilChange().date()}">10:30 AM</span>
                                        </div>
                                        <div th:if="*{engine().engineOilLifePercent() < 90}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success border rounded p-2"
                                               th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}">
                                                New oil change
                                            </a>
                                        </div>
                                        <div th:if="*{engine().engineOilLifePercent() >= 90 && engine().engineOilLifePercent()  < 100}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light bg-warning border rounded p-2"
                                               th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}">
                                                Your oil replacement mileage is close
                                            </a>
                                        </div>
                                        <div th:if="*{engine().engineOilLifePercent() >= 100}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light bg-danger border rounded p-2"
                                               th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}">
                                                Oil mileage exceeded, please change oil soon
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Last insurance</strong></h6><span
                                                class="text-xs"
                                                th:text="*{lastServices().insurance().date()}">12:30 AM</span>
                                        </div>
                                        <div th:unless="*{lastServices().insurance().isInsuranceCloseToExpiring() || lastServices().insurance().isInsuranceExpired() || lastServices().insurance().isInsuranceInactive()}"
                                             class="col-auto col-lg-3 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success border rounded p-2"
                                               th:href="@{/insurances/add/{id}(id=${carInfo.id()})}">
                                                New insurance
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().insurance().isInsuranceInactive() && !lastServices().insurance().isInsuranceExpired()}"
                                             class="col-auto col-lg-3 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-warning border rounded p-2"
                                               th:href="@{/insurances/add/{id}(id=${carInfo.id()})}">
                                                Your insurance is not active yet
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().insurance().isInsuranceCloseToExpiring() && !lastServices().insurance().isInsuranceExpired()}"
                                             class="col-auto col-lg-3 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-warning border rounded p-2"
                                               th:href="@{/insurances/add/{id}(id=${carInfo.id()})}">
                                                Insurance expiration date is close
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().insurance().isInsuranceExpired()}"
                                             class="col-auto col-lg-3 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-danger border rounded p-2"
                                               th:href="@{/insurances/add/{id}(id=${carInfo.id()})}">
                                                Vehicle insurance expired!
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row g-0 align-items-center">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Last e-vignette</strong></h6><span
                                                class="text-xs"
                                                th:text="*{lastServices().vignette().date()}">12:30 AM</span>
                                        </div>
                                        <div th:unless="*{lastServices().vignette().isVignetteCloseToExpiring() || lastServices().vignette().isVignetteExpired() || lastServices().vignette().isVignetteInactive()}"
                                             class="col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success border rounded p-2"
                                               th:href="@{/vignettes/add/{id}(id=${carInfo.id()})}">
                                                New vignette
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().vignette().isVignetteInactive() && !lastServices().vignette().isVignetteExpired()}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-warning border rounded p-2"
                                               th:href="@{/vignettes/add/{id}(id=${carInfo.id()})}">
                                                Your vignette is not active yet
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().vignette().isVignetteCloseToExpiring() && !lastServices().vignette().isVignetteExpired()}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-warning border rounded p-2"
                                               th:href="@{/vignettes/add/{id}(id=${carInfo.id()})}">
                                                Your vignette expiration date is nearing
                                            </a>
                                        </div>
                                        <div th:if="*{lastServices().vignette().isVignetteExpired()}"
                                             class="col-auto col-lg-6 text-end flex-shrink-1">
                                            <a class="text-nowrap text-decoration-none link-light text-bg-success bg-danger border rounded p-2"
                                               th:href="@{/vignettes/add/{id}(id=${carInfo.id()})}">
                                                Vehicle vignette expired!
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{common/fragments.html :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>