<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header}"><title>Vehicle information</title></head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/fragments.html :: sidebar}"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation}"></nav>
            <div th:object="${carInfo}" class="container-fluid">
                <div class="text-center d-sm-flex justify-content-between align-items-center mb-4">
                    <div class="row">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Vehicle Information</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{makeAndModel()}"></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{engine().fuelType()}"></strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong
                                                    th:text="*{engine().displacement() + 'cc'}"></strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{vin()}"></strong></p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <p class="text-center"><strong th:text="*{registration()}"></strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <form th:action="@{/vehicles/{id}/add-mileage(id=${carInfo.id()})}"
                                                  th:object="${engineMileageAdd}" method="post">
                                                <label for="mileage"><strong>Mileage</strong></label>
                                                <input id="mileage" name="mileage" type="text" th:value="*{mileage()}"
                                                       required/>
                                                <button type="submit"
                                                        class="btn btn-primary btn-sm d-none d-sm-inline-block">Change
                                                    mileage
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Service state</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Engine oil life<span class="float-end"
                                                                                   th:text="*{engine().changeInterval() + 'km'}"></span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div th:if="*{engine().engineOilLifePercent() < 90}"
                                             class="progress-bar bg-success"
                                             th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                        </div>
                                        <div th:if="*{engine().engineOilLifePercent() >= 90 && engine().engineOilLifePercent()  < 100}"
                                             class="progress-bar bg-warning"
                                             th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                        </div>
                                        <div th:if="*{engine().engineOilLifePercent() >= 100}"
                                             class="progress-bar bg-danger"
                                             th:attr="aria-valuenow=*{engine().engineOilLifePercent()}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             th:style="'width:' + *{engine().engineOilLifePercent()} + '%'">
                                            <span class="small fw-bold"
                                                  th:text="*{engine().mileage() - engine().oilChangeMileage() + 'km'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">History</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Last oil change</strong></h6>
                                                <span class="text-xs" th:text="*{lastServices().oilChange().date()}">10:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <form th:action="@{/vehicles/engines/oil-changes/{id}(id=*{lastServices().oilChange().id()})}"
                                                      th:method="get">
                                                    <button class="btn btn-primary" type="submit">View</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Last insurance</strong></h6><span
                                                    class="text-xs" th:text="*{lastServices().insurance().date()}">12:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <form th:action="@{/insurances/{id}(id=*{lastServices().insurance().id()})}"
                                                      th:method="get">
                                                    <button class="btn btn-primary" type="submit">View</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col me-2">
                                                <h6 class="mb-0"><strong>Last e-vignette</strong></h6><span
                                                    class="text-xs" th:text="*{lastServices().vignette().date()}">12:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <form th:action="@{/vignettes/{id}(id=*{lastServices().vignette().id()})}"
                                                      th:method="get">
                                                    <button class="btn btn-primary" type="submit">View</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col d-flex flex-row flex-grow-1 flex-shrink-1 align-content-around flex-wrap justify-content-xl-start align-items-xl-start justify-content-xxl-start align-items-xxl-start">
                            <div class="row pb-0 mb-0" style="width: 100%;">
                                <div th:if="*{engine().engineOilLifePercent() < 90}"
                                     class="col-auto col-lg-6 text-start flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 mb-sm-5 ms-sm-0 ps-sm-0"
                                     style="width: auto;height: auto;">
                                    <a class="text-truncate text-decoration-none link-light text-bg-success border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                       th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}"
                                       style="width: auto;height: auto;">New oil change</a>
                                </div>
                                <div th:if="*{engine().engineOilLifePercent() >= 90 && engine().engineOilLifePercent()  < 100}"
                                     class="col-auto col-lg-6 text-start d-flex flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5"
                                     style="width: auto;">
                                    <a class="text-truncate text-decoration-none link-light bg-warning border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                       th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}">Your
                                        oil replacement mileage is close</a></div>
                                <div th:if="*{engine().engineOilLifePercent() >= 100}"
                                     class="col-auto col-lg-6 text-start d-flex flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5">
                                    <a class="text-truncate text-decoration-none link-light bg-danger border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                       th:href="@{/vehicles/engines/{id}/oil-changes/add(id=${carInfo.engine().id()})}"
                                       style="width: auto;height: auto;">Oil mileage exceeded,
                                        please
                                        change oil soon</a></div>
                            </div>
                            <div class="row d-flex flex-row flex-grow-1 flex-shrink-1 flex-nowrap pb-0 mb-0"
                                 style="width: 100%;">
                                <div class="col-auto col-lg-6 text-start d-none flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5">
                                    <a class="text-truncate text-decoration-none link-light text-bg-success border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                       th:href="@{/insurances/add/{id}(id=${carInfo.id()})}"
                                       style="width: auto;height: auto;">New insurance</a>
                                </div>
                                <div class="col-auto col-lg-6 text-start flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5"
                                     style="width: auto;height: auto;"><a
                                        class="text-truncate text-decoration-none link-light text-bg-success bg-warning border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                        th:href="@{/insurances/add/{id}(id=${carInfo.id()})}">Insurance expiration date
                                    is close</a></div>
                                <div class="col-auto col-lg-6 text-start d-none flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5">
                                    <a class="text-truncate text-decoration-none link-light text-bg-success bg-danger border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                       th:href="@{/insurances/add/{id}(id=${carInfo.id()})}"
                                       style="width: auto;height: auto;">Vehicle insurance
                                        expired!</a></div>
                            </div>
                            <div class="row d-flex flex-row flex-grow-1 flex-shrink-1 flex-nowrap pb-0 mb-0"
                                 style="width: 100%;">
                                <div class="col-lg-6 text-start d-none flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5"
                                     style="width: 100%;"><a
                                        class="text-truncate text-decoration-none link-light text-bg-success border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                        href="change-oil.html" style="width: auto;height: auto;">New vignette</a></div>
                                <div class="col-auto col-lg-6 text-start d-none flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5"
                                     style="width: auto;"><a
                                        class="text-truncate text-decoration-none link-light text-bg-success bg-warning border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                        href="change-oil.html">Your vignette expiration date is nearing</a></div>
                                <div class="col-auto col-lg-6 text-start flex-shrink-1 mb-4 mt-4 ps-0 pe-0 pt-0 ms-sm-0 mb-sm-5"
                                     style="width: auto;height: auto;"><a
                                        class="text-truncate text-decoration-none link-light text-bg-success bg-danger border rounded ps-4 pe-4 mb-0 pt-0 pb-0 mt-0 ms-0 pt-sm-4 pe-sm-5 ps-sm-5 pb-sm-4"
                                        href="change-oil.html" style="width: auto;height: auto;margin: auto;">Vehicle
                                    vignette
                                    expired!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{common/fragments.html :: footer}"></footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>