<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header(title=${'Add Oil Change For ' + engineView.carView().makeAndModel()})}">
    <title>Add Oil Change</title>
</head>

<body id="page-top">
<div id="wrapper">

    <nav th:replace="~{common/fragments.html :: sidebar}" ></nav>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation(userId=${userId})}"></nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-4">Oil Change</h3>
                <div class="row mb-3">
                    <div class="col-lg-8 mx-auto">
                        <div class="row" th:object="${engineView}">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Vehicle Specification</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>Make and Model</strong></p>
                                                    <p th:text="*{carView().makeAndModel()}" class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>Fuel Type</strong></p>
                                                    <p th:text="*{fuelType()}" class="text-center"></p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>Displacement</strong></p>
                                                    <p th:text="*{displacement()}" class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>VIN</strong></p>
                                                    <p th:text="*{carView().vin()}" class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>Oil Capacity</strong></p>
                                                    <p th:text="*{oilCapacity()}" class="text-center"></p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <p class="text-center"><strong>Oil Filter Number</strong></p>
                                                    <p th:text="*{oilFilter()}" class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Date and Mileage</p>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/vehicles/engines/{id}/oil-changes/add(id=${engineView.id()})}" th:object="${oilChangeAdd}" method="post">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label th:unless="${#fields.hasErrors('changeDate')}" class="form-label" for="changeDate"><strong>Date</strong></label>
                                                        <label th:if="${#fields.hasErrors('changeDate')}" class="form-label text-danger" th:errors="*{changeDate}" for="changeDate"><strong>Date</strong></label>
                                                        <label class="form-label" for="changeDate"><strong>Date</strong></label>
                                                        <input id="changeDate" th:value="*{changeDate()}" class="form-control" type="date" name="changeDate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="changeMileage"><strong>Mileage</strong></label>
                                                        <input id="changeMileage"
                                                               th:value="${engineView.mileage()}" class="form-control" type="number" name="changeMileage">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="changeInterval"><strong>Interval</strong></label>
                                                        <input value="10000" id="changeInterval"
                                                            class="form-control" type="number" name="changeInterval" step="500" min="500" max="30000">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label"
                                                                             for="cost"><strong>Cost</strong></label>
                                                        <input id="cost" class="form-control" type="number" name="cost" value="50"
                                                            step="0.50" placeholder="50"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-primary btn-sm" type="submit">Add oil change
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{common/fragments.html :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>