<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head th:replace="~{common/fragments.html :: header(title=${'Add Vignette'})}">
    <title>Service Scheduler</title>
</head>

<body id="page-top">
<div id="wrapper">
    <nav th:replace="~{common/fragments.html :: sidebar}"></nav>

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="~{common/fragments.html :: navigation(userId=${user.id})}"></nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-4">New Vignette</h3>
                <div class="row mb-3">
                    <div class="col-lg-8 mx-auto">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Vehicle Information</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label" for="car"></label>
                                                    <select id="car" class="form-select" name="car">
                                                        <option th:value="${null}" selected="">
                                                            Select vehicle
                                                        </option>
                                                        <option th:each="car : ${user.cars()}"
                                                                th:value="${car.id()}"
                                                                th:text="${car.makeAndModel()}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{common/fragments.html :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/vignette-add.js"></script>
</body>

</html>